<turbo-stream action="remove" target="document_<%= @document.id %>"></turbo-stream>
<turbo-stream action="prepend" target="container">
  <template>
    <div class="alert alert-success" style="margin-top: 1rem;">
      Document "<%= @document.title %>" was successfully deleted.
    </div>
  </template>
</turbo-stream>
