<div class="container">
  <h1>Edit Category</h1>
  
  <div class="nav-links">
    <%= link_to "â† Back to Categories", categories_path %> |
  </div>

  <%= render 'form', category: @category %>
</div>
