<div class="main-container">
  <h1>Edit Category</h1>

  <div class="txt-center margin-block">
    <%= link_to categories_path do %>
      <%= icon_tag "arrow-left" %> Back to Categories
    <% end %>
  </div>

  <%= render 'form', category: @category %>
</div>
